# Create a file 'keys.js' in the root directory and put the following code in it -
#
#   var myApiKey = 'YOUR_CLARIFAI_API_KEY'; 
#
# Replace YOUR_CLARIFAI_API_KEY with your own key in your Clarifai account settings

keys.js